NODE_ENV="development"

APP_NAME="FiapFoodPreparation"
APP_DESCRIPTION="Prepration Component for Fiap Food"
APP_VERSION="1.0.0"

PORT="5000"
LOG_LEVEL="debug"
LOG_FORMAT="pretty" # pretty | json

TRAFFIC_INSPECTION_HTTP="all" # inbound|outbound|all|none
TRAFFIC_INSPECTION_AMQP="all" # inbound|outbound|all|none 

ROUTE_PREFIX=""

POSTGRES_URL="postgresql://postgres:fiapfood@localhost/postgres?ApplicationName=FiapFoodPreparation"
AMQP_URL="amqp://fiapfood:fiapfood@localhost:5672"
